body {
    margin: 0;
}
.login-main {
    display: flex;
    justify-content: center;
}
.login-form {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.input-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.error-div {
    color: #CC0000;
    min-height: 25px;
}
.input-div-error {
    input {
        box-shadow: 0 0 3px #CC0000;
    }
}



.app-header {
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 240, 211);
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(204, 162, 108);
}

.app-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.schedule-table {
    border-collapse: collapse;
    th, td.td-filled {
        border: 1px solid black;
        padding: 8px;
    }
}